.space-header{
  height: 65px;
}
.logo-header{
  height: 35px;
}
.select2-container{
  width: 100% !important;
}
.select2-container .select2-selection--single {
  height: 45px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 34px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 20px;
}